@import "vars";
@import "mixin.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $mainFont;
}
h1 {
  @include h1-Head();
}
h2 {
  @include h2-Head();
}
h3 {
  @include h3-Head();
}
h4 {
  @include h4-Head();
}
h5 {
  @include h5-Head();
}
.btn {
  background-color: $greenDark;
  color: #ffffff;
}
.btn-action {
  @include btnZapis();
}
.btn-adaptive {
  display: none;
}
header {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1670px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo img {
    max-width: 150px;
  }
  .nav-menu .main-menu {
    padding: 0;
    list-style-type: none;
  }
  .nav-menu .main-menu .submenu {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #2983d4 35%, #7ec95c 50%) 47% 0%;
  }
  .nav-menu .main-menu li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .nav-menu .main-menu .submenu li {
    @include body3();
    margin: 0px;
    padding: 15px 10px;
    background-color: white;
    border: none;
  }
  .nav-menu .main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
  }
  .nav-menu .main-menu li:nth-child(-n + 3) a::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -20px;
    width: 10px;
    height: 10px;
    background: url("../img/Shape.svg") no-repeat;
  }
  .nav-menu .main-menu li a {
    @include h5-Head();
    text-decoration: none;
    display: inline-block;

    color: $zemlya;
  }
  .nav-menu .main-menu li .submenu li {
    clear: both;
    width: 100%;
  }
  .nav-menu .main-menu li .submenu li a::after {
    display: none;
  }
  .phone {
    color: $blueDark;
  }
}
.main {
  &__prod-section {
    z-index: 0;
    @include backgroundCenter();
    position: relative;
    background: url(/img/img1.jpeg) no-repeat center;
    min-height: 535px;
    max-height: 650px;
    overflow: hidden;
    color: white;
  }
  &__prod-plusi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    position: relative;
    z-index: 1;
    margin: -200px 20px;
    margin-right: 250px;
    padding-left: 250px;

    &__text {
      padding: 30px 0;
      border-left: none;
      position: relative;
      background: none;
    }
    &__text::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -31px;
      right: 0;
      left: -250px;
      border: 11px solid transparent;
      border-left: none;
      border-bottom: none;
      border-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(37%, #2983d4)
        )
        35% 10%;
      z-index: 10;
    }

    &__title {
      color: #fff;
    }
    &__description {
      @include body1();
      color: #fff;
    }
    &__items {
      display: flex;
      justify-content: space-evenly;
      position: relative;
      background: none;

      &__item {
        color: $zemlya;
        display: flex;
        justify-content: space-between;

        &__left {
          align-self: center;
          padding: 0 15px;
        }
        &__right {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
    &__items::before {
      content: "";
      position: absolute;
      top: -45px;
      bottom: -90px;
      right: 0;
      left: 380px;
      border: 11px solid transparent;
      border-left: none;
      border-top: none;
      border-image: linear-gradient(to bottom, #2983d4 37%, #7ec95c 46%) 35% 10%;
      z-index: 10;
    }
  }
  .offers-slider-container {
    &__yMap {
      display: none;
    }
  }
  &__our-offers {
    @include blockCenter();
    margin-top: 400px;

    .swiper__image {
      img {
        max-height: 266px;
      }
    }
    &__items {
      display: flex;
      justify-content: space-between;
      padding: 1em;

      &__item-left {
        display: inline-block;
        overflow: hidden;
        border: 1px solid $obvodka;
        border-radius: 20px;

        &__item {
          display: inline-block;
          float: left;
        }
        &__item input[type="radio"] {
          display: none;
        }
        &__item label {
          @include body3;
          color: $zemlya;
          display: inline-block;
          padding: 0px 15px;
          line-height: 34px;
          cursor: pointer;
          user-select: none;
        }
        .item-1 input[type="radio"]:checked + label {
          color: #fff;
          background: $greenDark;
        }
        .item-2 input[type="radio"]:checked + label {
          color: #fff;
          background: $greenDark;
        }
      }
      .yMap-right {
        align-self: center;
        display: none;
        &__title {
          a {
            color: $blueDark;
            text-decoration: none;
          }
        }
      }
      &__item-right {
        display: flex;
      }
      &__item-right div {
        cursor: pointer;
        flex: 1 1 auto;
        margin: 0 5px;
        transform: translateY(5px); //Костыль-элемент приподнят на веерх.
      }
    }
    // Slider - 1
    .swiper-container {
      width: 100%;
      height: 100%;

      .swiper-wrapper {
        .swiper-slide {
          font-size: 18px;
          background: #ffffff;
          display: flex;
          flex-direction: column;

          .swiper__image img {
            width: 100%;
          }
        }
        .swiper-slide .description {
          @include body3();
        }
        .swiper-slide .stats {
          @include body4();
        }
        .swiper__description-container .description {
          padding: 15px;
        }
        .swiper__description-container .stats {
          padding: 15px 30px;
        }
        .swiper__description-container .stats .stat-item li {
          padding: 3px 10px;
          line-height: 30px;
          display: inline-block;
        }
        .swiper__description__bottom {
          display: flex;
          justify-content: space-between;
          padding: 1em;
          text-align: center;
          align-items: center;
          background: $backgorund1;
        }
      }
    }
  }
  &__choose-dacha {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include blockCenter();
    min-height: 550px;
    // overflow: hidden;

    &__title-wrapper {
      padding: 0px 80px;
      color: $zemlya;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__price-block {
        display: flex;
        flex-direction: column;

        &__title {
          @include h5-Head();
          color: $zemlya;
        }

        &__wrapper-slider {
          .ui-slider.ui-slider-horizontal {
            background: #fff;
            border: none;
          }
          .ui-slider .ui-slider-handle {
            width: 0;
            height: 0;
            border: 10px solid $greenLight;
            border-radius: 50%;
            top: -3px;
            margin-left: -5px;
            cursor: pointer;
            background: transparent;
          }
          .ui-slider .ui-slider-range {
            background: $greenLight;
            height: 12px;
          }
        }
        &__total {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 0px;

          p {
            @include body2();
            color: $graviy;
          }
        }
        &__wrapper-slider {
          min-width: 300px;
        }
      }
    }
  }
  &__border {
    position: relative;
  }
  &__border::before {
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    top: -200px;
    bottom: -200px;
    border: 7px solid transparent;
    border-image: linear-gradient(to bottom, #2983d4 50%, #7ec95c 61%) 15% 10%;
    border-right: none;
  }
  &__border::after {
    content: "";
    position: absolute;
    right: 0;
    top: -200px;
    bottom: -200px;
    z-index: -1;
    border-right: 7px solid transparent;
    border-image: linear-gradient(to bottom, #2983d4 50%, #7ec95c 61%) 15% 10%;
  }
  &__choose-dacha-background {
    position: relative;
    background: url(../img/content-background/choose-dacha-background.svg)
      no-repeat;
    min-height: 438px;
    margin-top: -500px;
    margin-bottom: 0px;
    z-index: -1;
  }
  // О компании
  .main__about-company__wrapper__side-items__item,
  .main__about-company__wrapper__main-items__item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 183px;
    padding: 30px;
    overflow: hidden;
  }
  &__about-company {
    @include blockCenter();
    &__title {
      padding: 50px 0px;
      color: $zemlya;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;

      &__main-items {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 650px;

        &__item {
          display: flex;
          flex-direction: column;
          border: 1px solid $obvodka;
        }
        &__slider {
          // height: 490px;
          .image-slider {
            max-height: 430px;
          }
        }
      }
      .swiper-container {
        text-align: center;
      }
      &__side-items {
        flex-basis: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__items-column {
          display: flex;
          justify-content: space-between;
        }
        &__item {
          border: 1px solid $obvodka;
        }
        &__item-50 {
          min-height: 220px;
          max-width: 310px;
        }
        &__item-50-left {
          color: #fff;
          background-color: $blueDark;
        }
        &__item-50-right {
          background-color: $backgorund1;
          span {
            color: $greenLight;
          }
        }
        &__item-green {
          background-color: $greenLight;
          color: #fff;
        }
      }
    }
  }
  // Купить участок просто
  &__buy-uchastok {
    @include blockCenter();
    &__title {
      padding: 20px 0;
      color: $zemlya;
    }
    &__wrapper {
      display: inline-block;
      overflow: hidden;
      border: 1px solid $obvodka;
      border-radius: 20px;

      &__item {
        display: inline-block;
        float: left;
      }
      &__item input[type="radio"] {
        display: none;
      }
      &__item label {
        @include body3;
        color: $zemlya;
        display: inline-block;
        padding: 0px 15px;
        line-height: 34px;
        cursor: pointer;
        user-select: none;
      }
      &__item input[type="radio"]:checked + label {
        color: #fff;
        background: $greenDark;
      }
    }
    &__4-shaga-items {
      padding-top: 50px;
      padding-bottom: 0px;
      display: flex;

      &__wrapper {
        position: relative;
        margin: 0 auto;
        padding: 20px;

        &__item-1::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 25px;
          height: 25px;
          background: url("../img/content/buy-uchastok/numbers/number1.svg")
            no-repeat;
        }
        &__item-1::after,
        &__item-2::after,
        &__item-3::after {
          content: "";
          position: absolute;
          background: #d1d1d1;
          top: 50%;
          left: 150px;
          width: 180px;
          height: 1px;
        }
        &__item-2::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 25px;
          height: 25px;
          background: url("../img/content/buy-uchastok/numbers/number2.svg")
            no-repeat;
        }
        &__item-3::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 25px;
          height: 25px;
          background: url("../img/content/buy-uchastok/numbers/number-3.svg")
            no-repeat;
        }
        &__item-4::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 25px;
          height: 25px;
          background: url("../img/content/buy-uchastok/numbers/number-4.svg")
            no-repeat;
        }

        &__item {
          display: flex;
          border: 1px solid $obvodka;
          border-radius: 50%;
          width: 114px;
          height: 114px;
          img {
            margin: auto;
            width: 48px;
            height: 54px;
          }
        }
      }
    }
  }
  &__subscribe-to-watch {
    position: relative;
    @include blockCenter();
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 550px;

    &__container {
      position: relative;
      padding: 50px;
      &__title-wrapper {
        display: flex;
        padding: 40px 0px;
        &__title {
          color: $zemlya;
          flex-basis: 25%;
        }
        &__other-text {
          @include body2();
          padding: 15px;
          flex-basis: 75%;
        }
      }
      &__form-wrapper {
        &__form input[type="text"],
        input[type="tel"] {
          margin-right: 35px;
          padding: 10px;
          width: 355px;
          height: 50px;
        }
        &__form input[type="submit"] {
          @include btnZapis();
        }
        &__form label {
          margin-left: 10px;
          @include body4();
          color: $zemlya;
        }
        &__form__obrabotka {
          padding: 40px 0px;
        }
      }
    }
    &__container::before {
      content: "";
      position: absolute;
      width: 100%;
      top: -100px;
      right: 0;
      bottom: -100px;
      border: 7px solid transparent;
      border-image: linear-gradient(to bottom, #2983d4 50%, #7ec95c 61%) 15% 10%;
      border-right: none;
    }
    &__container::after {
      content: "";
      position: absolute;
      right: 0;
      top: -100px;
      bottom: -100px;
      z-index: -1;
      border-right: 7px solid transparent;
      border-image: linear-gradient(to bottom, #2983d4 50%, #7ec95c 61%) 15% 10%;
    }
  }
  &__subscribe-to-watch-background {
    background: url(../img/content-background/choose-dacha-background.svg)
      no-repeat;
    min-height: 438px;
    margin-top: -500px;
    margin-bottom: 0px;
  }
  &__zemlya-u-nas {
    @include blockCenter();
    &__title {
      padding: 50px 0px;
      color: $zemlya;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      overflow: hidden;
      &__items-1 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        &__item {
          max-width: 288px;
          max-height: 240px;
          background-color: slategray;
        }
      }
      &__items-2 {
        display: flex;
        min-height: 450px;
        &__main-item {
          max-width: 593px;
          max-height: 443px;
          overflow: hidden;
          border: 1px solid $obvodka;
          &__slider {
            &__wrapper {
              &__slide {
                &__item-row {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  min-height: 443px;
                  &__item-column {
                    padding: 30px;
                    display: flex;
                    justify-content: space-between;
                    &__item {
                      display: flex;
                      align-items: center;
                      &__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                      }
                      button {
                        @include btnZapis();
                      }
                      &__arrows-container {
                        display: flex;
                        justify-content: space-evenly;

                        &__item {
                          padding: 10px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &__side-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__item {
            margin-left: 15px;
            max-width: 591px;
            height: 214px;
          }
        }
      }
    }
  }
  &__questions {
    position: relative;
    z-index: 1;
    @include blockCenter();
    display: flex;
    justify-content: space-evenly;

    &__wrapper {
      &__form {
        &__obrabotka {
          padding: 20px 0;
        }
      }
      &__form input[type="text"],
      input[type="tel"] {
        margin-right: 15px;
        padding: 10px;
        width: 250px;
        height: 50px;
      }
      &__form input[type="submit"] {
        @include btnZapis();
      }
      &__form label {
        margin-left: 15px;
        @include body4();
        color: $zemlya;
      }
    }
    &__text-container {
      color: $zemlya;
      &__text {
        padding-top: 10px;
      }
    }
  }
  &__questions-background {
    border-bottom: 7px solid black;
    border-image: linear-gradient(to right, #2983d4 35%, #7ec95c 50%) 47% 0%;
    @include backgroundCenter();
    background-color: $backgorund1;
    min-height: 224px;
    margin-top: -200px;
    margin-bottom: 0px;
    z-index: 0;
  }

  &__what-new {
    @include blockCenter();
    margin-bottom: 150px;
    &__title {
      padding: 20px 0;
      color: $zemlya;
    }
    &__items {
      display: flex;
      justify-content: space-between;
      padding: 3em 0;

      &__item-left {
        display: inline-block;
        overflow: hidden;
        border: 1px solid $obvodka;
        border-radius: 20px;

        &__item {
          display: inline-block;
          float: left;
        }
        &__item input[type="radio"] {
          display: none;
        }
        &__item label {
          @include body3;
          color: $zemlya;
          display: inline-block;
          padding: 0px 15px;
          line-height: 34px;
          cursor: pointer;
          user-select: none;
        }
        &__item input[type="radio"]:checked + label {
          color: #fff;
          background: $greenDark;
        }
      }
      &__item-right {
        cursor: pointer;
        display: flex;
      }
      &__item-right div {
        flex: 1 1 auto;
        margin: 0 5px;
        transform: translateY(5px); //Костыль-элемент приподнят на веерх.
      }
    }
    // main__what-new__slider-container
    &__slider-container {
      &__swiper-container {
        &__swiper-wrapper {
          &__swiper-slide {
            &__image-container {
              img {
                width: 100%;
                max-height: 249px;
              }
            }
            &__text-container {
              overflow: hidden;
              min-height: 175px;
              padding: 20px;

              &__title {
                padding-bottom: 10px;
                color: $zemlya;
              }
              &__descr {
                @include body2();
                color: $graviy;
              }
            }
            &__bottom {
              display: flex;
              justify-content: space-between;
              padding: 1em;

              &__left {
                @include h5-Head();
                a {
                  color: $greenLight;
                  text-decoration: none;
                }
              }
              &__right {
                @include body2();
                color: #979290;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  &__wrapper-top {
    background-color: $graviy;
    &__top {
      max-width: 1300px;
      margin: 0 auto;
      min-height: 110px;
      display: flex;
      justify-content: space-around;

      &__subscribe-to-news {
        display: flex;

        &__left {
          display: flex;
          align-self: center;
          justify-content: space-evenly;

          &__text {
            flex-basis: 50%;
            color: #fff;
          }
          img {
            max-width: 63.3px;
          }
        }
        &__right {
          padding: 20px;
          flex-basis: 70%;

          &__form {
            &__obrabotka {
              padding-top: 10px;
            }
          }
          &__form input[type="email"] {
            margin-right: 15px;
            width: 275px;
            height: 50px;
          }
          &__form input[type="submit"] {
            @include btnZapis();
            border: none;
          }
          &__form label {
            margin-left: 15px;
            @include body4();
            color: #fff;
          }
        }
      }
      &__socials {
        display: flex;
        img {
          padding: 10px;
        }
      }
    }
  }
  &__wrapper-bottom {
    background-color: $zemlya;
    &__bot {
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      min-height: 550px;
      justify-content: space-evenly;

      &__nav-top {
        display: flex;
        justify-content: space-between;

        &__item {
          ul {
            list-style-type: none;

            li {
              padding: 10px 0;

              a {
                text-decoration: none;
                color: #fff;
              }
              .checked {
                font-weight: bold;
              }
            }
          }
        }
        &__contact-container {
          padding: 10px 0;
          &__title {
            color: #fff;
          }
          &__item-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: 420px;

            &__item {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              padding-top: 10px;
              // justify-content: space-evenly;
              min-height: 150px; // Убрать потом ?
              &__title {
                color: #fff;
              }
              &__text {
                color: $obvodka;
              }
            }
            &__item-bottom {
              &__text {
                color: #fff;
              }
              &__schema {
                color: #fff;
                font-weight: bold;
              }
            }
          }
        }
      }
      &__info {
        display: flex;
        flex-direction: column;

        &__item {
          color: $textFooter;
          padding: 10px 0;
        }
        &__item-three {
          display: flex;
          justify-content: space-between;
          &__sub-item {
            .checked {
              color: $textFooter;
            }
          }
        }
      }
    }
  }
}
.popup {
  display: none; // Изменить в JS на block
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  opacity: 0; // Изменить в JS na 1.
  z-index: 100;
  transition: all 0.4s;
  &__inner {
    position: fixed;
    top: 15%;
    left: 34%;
    min-height: 572px;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
  }
  &__content {
    position: relative;
    align-items: center;
    background: #ffffff;
    border-radius: 28px;
    max-width: 530px;
    color: #000;
    padding: 85px 60px;
    border: 10px solid transparent;
    border-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(50%, #2983d4),
        color-stop(61%, #7ec95c)
      )
      15% 10%;
    transition: 0.8s;
  }
  &__head {
    padding: 20px 0px;
    p {
      @include body4();
      color: $zemlya;
    }
  }
  &__title {
    color: $zemlya;
    padding: 10px 0;
  }
  .close-popup {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
  }
  &-form {
    div {
      padding: 20px 0;
    }
    .input {
      width: 357px;
      height: 50.44px;
      border: 1px solid $obvodka;
      border-radius: 3px;
      padding: 10px;
    }
    .checkbox {
      display: flex;
      label {
        padding: 0 20px;
        @include body4();
        color: $zemlya;
        a {
          text-decoration: none;
          font-weight: bold;
          color: $zemlya;
        }
      }
    }
    .btn-popup {
      @include btnZapis();
    }
  }
}
.popup-2 {
  display: none; // Изменить в JS на block
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  opacity: 0; // Изменить в JS na 1.
  z-index: 100;
  transition: all 0.4s;

  &__inner {
    position: fixed;
    top: 15%;
    left: 34%;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
  }
  &__content {
    position: relative;
    align-items: center;
    background: #ffffff;
    border-radius: 28px;
    max-width: 530px;
    color: #000;
    padding: 85px 60px;
    border: 10px solid transparent;
    border-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(50%, #2983d4),
        color-stop(61%, #7ec95c)
      )
      15% 10%;
    transition: 0.8s;
  }
  &__head {
    padding: 20px 0px;
    p {
      @include body4();
      color: $zemlya;
    }
  }
  &__title {
    color: $zemlya;
    padding: 10px 0;
  }
  .close-popup {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
  }
  .telephone {
    padding-top: 30px;
    display: inline-block;
  }
}

/* Адаптация 320px */
.adaptive-menu {
  display: none;
}
@media screen and (max-width: 320px) {
  .adaptive-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 1; // Изменить в JS na 1.
    z-index: 100;
    transition: all 0.4s;

    &__inner {
      width: 100%;
      height: 100%;
    }
    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      .col-left {
        background-color: #000000;
        opacity: 30%;
        flex-basis: 40%;
      }
      .col-right {
        flex-basis: 60%;
        .inner {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding: 10px;

          .header {
            display: flex;
            justify-content: flex-end;
          }
          .phone-adaptive {
            @include body2;
            color: $blueDark;
          }
          .nav-menu {
            display: block;
            .main-menu {
              li {
                margin: 0;
                padding: 10px 0;
                a::after {
                  top: 18px;
                  right: -15px;
                }
              }
            }
          }
          .social {
            display: flex;
            justify-content: space-evenly;
          }
          .btn-action-adaptive {
            width: 216px;
            height: 50px;
          }
        }
      }
    }
  }
  header {
    .btn-adaptive {
      display: block;
    }
    .btn {
      display: none;
    }
    .container {
      justify-content: space-around;
      .logo {
        img {
          width: 83px;
          height: 44px;
        }
      }
      .nav-menu {
        display: none;
      }
      .phone {
        display: none;
      }
      .btn-action {
        width: 37px;
        height: 37px;
      }
    }
  }
  main {
    .main__prod-container {
      .main__prod-section {
        min-height: 300px;
        margin: 0;
      }
      .main__prod-plusi {
        margin: -190px 0px;
        margin-right: 20px;
        padding-left: 0;

        .main__prod-plusi__text {
          padding: 30px;
          background-color: rgba($color: #000000, $alpha: 0.4);
          .main__prod-plusi__title {
            font-size: 32px;
            line-height: 32px;
          }
          .main__prod-plusi__description {
            font-size: 20px;
          }
        }
        .main__prod-plusi__items {
          justify-content: unset;
          padding: 20px 0;
        }
        .main__prod-plusi__items__item {
          padding: 20px 25px;
        }
        .main__prod-plusi__items::before {
          border-image: linear-gradient(to bottom, #2983d4 0, #7ec95c 46%) 35%
            10%;
          top: 150px;
          left: 0;
          bottom: -10px;
        }
      }
    }
  }
  .main__our-offers {
    margin-top: 250px;

    .main__our-offers__items {
      padding: 1.5em;

      .main__our-offers__items__item-right {
        display: none;
      }
      .main__our-offers__items__item-left {
        .item-1 label,
        .item-2 label {
          padding: 4px 25px;
        }
      }
    }
    .offers-slider-container {
      .swiper__image img {
        max-height: 206px;
      }
      .swiper__description-container {
        .stats {
          display: none;
        }
      }
    }
  }
  .main__choose-dacha {
    margin: 100px 25px;
  }
  .main__border {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__border::before {
    top: -70px;
    bottom: -70px;
  }
  .main__border::after {
    top: -70px;
    bottom: -70px;
  }
  .main__choose-dacha-background {
    margin-top: -600px;
  }
  .main__choose-dacha__title-wrapper {
    padding: 0 6px; // Исправить?
    font-size: 22px;
  }
  .main__choose-dacha__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main__choose-dacha__container__price-block__title {
    padding: 15px;
  }
  .main__choose-dacha__container__price-block__wrapper-slider {
    padding: 0 20px;
  }
  .main__choose-dacha__container__price-block__total {
    padding: 15px 17px;
  }
  .main__choose-dacha__container__submit-button {
    text-align: center;
  }
  // О компании
  .main__about-company__wrapper {
    flex-wrap: wrap;
  }
  .main__about-company__wrapper__main-items {
    // flex-direction: unset;
    width: 100%;
  }
  .main__about-company__wrapper__side-items {
    flex-direction: row;
  }
  .main__about-company__wrapper__side-items__item {
    width: 150px;
    height: 200px;
  }
  .main__about-company__wrapper__side-items__item {
    height: auto !important;
    width: 265px;
    padding: 10px 20px !important;
  }
  .main__about-company__wrapper__main-items__item-main {
    display: none !important;
  }
  .main__about-company__wrapper__main-items {
    height: auto;
  }
}
