@import "vars";
@import "mixin.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $mainFont;
}
h1 {
  @include h1-Head();
}
h2 {
  @include h2-Head();
}
h3 {
  @include h3-Head();
}
h4 {
  @include h4-Head();
}
h5 {
  @include h5-Head();
}
.btn {
  background-color: $greenDark;
  padding: 14px 16px;
  color: #ffffff;
}
.btn-action {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
header {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1670px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo img {
    max-width: 150px;
  }
  .nav-menu {
  }
  .nav-menu .main-menu {
    padding: 0;
    list-style-type: none;
  }
  .nav-menu .main-menu .submenu {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #2983d4 0%, #7ec95c 100%) 47% 0%;
  }
  .nav-menu .main-menu li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .nav-menu .main-menu .submenu li {
    @include body3();
    // min-width: 180px;
    margin: 0px;
    padding: 15px 10px;
    background-color: white;
    border: none;
  }
  .nav-menu .main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
  }
  .nav-menu .main-menu li:nth-child(-n + 3) a::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -20px;
    width: 10px;
    height: 10px;
    background: url("../img/Shape.svg") no-repeat;
  }
  .nav-menu .main-menu li a {
    @include h5-Head();
    text-decoration: none;
    display: inline-block;

    color: $zemlya;
  }
  .nav-menu .main-menu li .submenu li {
    clear: both;
    width: 100%;
  }
  .nav-menu .main-menu li .submenu li a::after {
    display: none;
  }
  .phone {
    color: $blueDark;
  }
}
.main {
  &__prod-section {
    z-index: 0;
    @include backgroundCenter();
    position: relative;
    background: url(/img/img1.jpeg) no-repeat center;
    min-height: 535px;
    max-height: 650px;
    overflow: hidden;
    color: white;
  }
  &__prod-plusi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    position: relative;
    z-index: 1;
    margin: -200px 20px;
    margin-right: 250px;
    border: 10px solid;
    padding-left: 100px;
    border-left: none;
    border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;

    .prod-plusi__title {
      color: #fff;
    }
    .prod-plusi__description {
      color: #fff;
    }

    .prod-plusi__title {
      // Позицинировал через абсолют
    }
    .prod-plusi__description {
      // Позицинировал через абсолют
      @include body1();
    }
    .prod-plusi__items {
      display: flex;
      justify-content: space-evenly;

      &__item {
        display: flex;
        justify-content: space-between;
        width: 250px;

        .item__left {
          padding: 0 15px;
        }
        .item__right {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
  }
  &__our-offers {
    @include blockCenter();

    &__items {
      display: flex;
      justify-content: space-between;
      padding: 1em;

      &__item-left {
        display: inline-block;
        overflow: hidden;
        border: 1px solid $obvodka;
        border-radius: 20px;

        &__item {
          display: inline-block;
          float: left;
        }
        &__item input[type="radio"] {
          display: none;
        }
        &__item label {
          display: inline-block;
          padding: 0px 15px;
          line-height: 34px;
          cursor: pointer;
          user-select: none;
        }
        .item-1 input[type="radio"]:checked + label {
          background: $greenDark;
        }
        .item-2 input[type="radio"]:checked + label {
          background: $greenDark;
        }
      }
      &__item-right {
        display: flex;
      }
      &__item-right div {
        flex: 1 1 auto;
        margin: 0 5px;
        transform: translateY(5px); //Костыль-элемент приподнят на веерх.
      }
    }

    .swiper-container {
      width: 100%;
      height: 100%;

      .swiper-wrapper {
        .swiper-slide {
          font-size: 18px;
          background: #ffffff;
          display: flex;
          flex-direction: column;

          .swiper__image img {
            width: 100%;
          }
        }
        .swiper-slide .description {
          @include body3();
        }
        .swiper-slide .stats {
          @include body4();
        }
        .swiper-slide .stat-info {
          position: relative;
          border: 1px solid grey;
          border-radius: 45px;
          width: 45px;
          height: 45px;

          // Стрелочка внутри УЧАСТКИ от 10 до 12 соток
          a img {
            position: absolute;
            top: calc(25% + 2px);
            left: calc(25%);
          }
        }
        .swiper__description-container .stats li {
          list-style-type: none;
        }
        .swiper__description-container .description {
          padding: 10px;
        }
        .swiper__description-container .stats {
          padding: 15px 30px;
        }
        .swiper__description-container .stats .stat-item li {
          padding: 3px 10px;
          line-height: 30px;
          display: inline-block;
        }
        .swiper__description__bottom {
          display: flex;
          justify-content: space-between;
          padding: 1em;
          text-align: center;
          align-items: center;
          background: $backgorund1;
        }
      }
    }
  }
  &__choose-dacha {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    @include blockCenter();
    border: 5px solid;
    border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;
    min-height: 550px;
    overflow: hidden;

    &__title-wrapper {
      padding: 0px 80px;
      color: $zemlya;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__price-block {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        &__title {
          @include h5-Head();
          color: $zemlya;
        }
        &__total {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 0px;
          &__money1,
          &__money2 {
            @include body2();
          }
        }
        &__wrapper-slider {
          min-width: 300px;
        }
      }
    }
  }
  &__choose-dacha-background {
    position: relative;
    background: url(../img/content-background/choose-dacha-background.svg)
      no-repeat;
    min-height: 438px;
    margin-top: -500px;
    margin-bottom: 0px;
    z-index: 0;
  }
  // О компании
  .main__about-company__wrapper__side-items__item,
  .main__about-company__wrapper__main-items__item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 183px;
    padding: 30px;
    overflow: hidden;
  } // about-company__wrapper
  &__about-company {
    @include blockCenter();
    &__title {
      padding: 50px 0px;
      color: $zemlya;
    }
    &__wrapper {
      display: flex;
      width: 100%;

      &__main-items {
        width: 45%;
        padding-right: 20px;
        display: flex;
        flex-direction: column;

        &__item {
          display: flex;
          flex-direction: column;
          border: 1px solid $obvodka;
        }
        &__slider {
          // border: 1px solid skyblue;
        }
      }
      &__side-items {
        flex-basis: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__items-column {
          display: flex;
        }
        &__item {
          border: 1px solid $obvodka;
        }
        &__item-50 {
          min-height: 260px;
        }
        &__item-50-left {
          color: #fff;
          background-color: $blueDark;
        }
        &__item-50-right {
          background-color: $backgorund1;
          span {
            color: $greenLight;
          }
        }
        &__item-green {
          background-color: $greenLight;
          color: #fff;
        }
      }
    }
  }
  // Купить участок просто
  &__buy-uchastok {
    @include blockCenter();
    &__title {
      padding: 20px 0;
      color: $zemlya;
    }
    &__wrapper {
      display: inline-block;
      overflow: hidden;
      border: 1px solid $obvodka;
      border-radius: 20px;

      &__item {
        display: inline-block;
        float: left;
      }
      &__item input[type="radio"] {
        display: none;
      }
      &__item label {
        display: inline-block;
        padding: 0px 15px;
        line-height: 34px;
        cursor: pointer;
        user-select: none;
      }
      &__item input[type="radio"]:checked + label {
        background: $greenDark;
      }
    }
    &__4-shaga-items {
      padding-top: 50px;
      padding-bottom: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      // Центрирую
      align-self: center;
      justify-content: center;
      text-align: center;

      &__wrapper {
        align-self: center;
        justify-content: center;
        text-align: center;
        align-content: center;
        margin: 0 auto;

        &__item {
          display: flex;
          border: 1px solid $obvodka;
          border-radius: 50%;
          width: 114px;
          height: 114px;
          img {
            margin: auto;
            width: 48px;
            height: 54px;
          }
        }
      }
    }
  }
}
