@import "vars";
@import "mixin.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $mainFont;
}
h1 {
  @include h1-Head();
}
h2 {
  @include h2-Head();
}
h3 {
  @include h3-Head();
}
h4 {
  @include h4-Head();
}
h5 {
  @include h5-Head();
}
.btn {
  background-color: $greenDark;
  padding: 14px 16px;
  color: #ffffff;
}
.btn-action {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
header {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1670px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo img {
    max-width: 150px;
  }
  .nav-menu {
  }
  .nav-menu .main-menu {
    padding: 0;
    list-style-type: none;
  }
  .nav-menu .main-menu .submenu {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #2983d4 0%, #7ec95c 100%) 47% 0%;
  }
  .nav-menu .main-menu li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .nav-menu .main-menu .submenu li {
    @include body3();
    // min-width: 180px;
    margin: 0px;
    padding: 15px 10px;
    background-color: white;
    border: none;
  }
  .nav-menu .main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
  }
  .nav-menu .main-menu li:nth-child(-n + 3) a::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -20px;
    width: 10px;
    height: 10px;
    background: url("../img/Shape.svg") no-repeat;
  }
  .nav-menu .main-menu li a {
    @include h5-Head();
    text-decoration: none;
    display: inline-block;

    color: $zemlya;
  }
  .nav-menu .main-menu li .submenu li {
    clear: both;
    width: 100%;
  }
  .nav-menu .main-menu li .submenu li a::after {
    display: none;
  }
  .phone {
    color: $blueDark;
  }
}
.main {
  &__prod-section {
    z-index: 0;
    margin: 0 20px;
    position: relative;
    background: url(/img/img1.jpeg) no-repeat center;
    min-height: 535px;
    max-height: 650px;
    overflow: hidden;
    color: white;
  }
  &__prod-plusi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    position: relative;
    z-index: 1;
    margin: -200px 20px;
    margin-right: 250px;
    border: 10px solid;
    padding-left: 100px;
    border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;

    .prod-plusi__title {
      color: #fff;
    }
    .prod-plusi__description {
      color: #fff;
    }

    .prod-plusi__title {
      // Позицинировал через абсолют
    }
    .prod-plusi__description {
      // Позицинировал через абсолют
      @include body1();
    }
    .prod-plusi__items {
      display: flex;
      justify-content: space-evenly;

      &__item {
        display: flex;
        justify-content: space-between;
        width: 250px;

        .item__left {
          padding: 0 15px;
        }
        .item__right {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
  }
  // Удалить
  &__random-udalit {
    position: relative;
    z-index: 1;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: -250px 20px;
    border: 10px solid;
    border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;
  }
}
