@charset "UTF-8";
/* Цвет шрифта, который должен быть не сильно заметен */
/* Button */
/* BODY */
/* Button font */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.btn {
  background-color: #6BBD45;
  padding: 14px 16px;
  color: #ffffff;
}

.btn-action {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1670px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container .logo img {
  max-width: 150px;
}
.container .nav-menu .main-menu {
  padding: 0;
  list-style-type: none;
}
.container .nav-menu .main-menu .submenu {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #2983d4 0%, #7ec95c 100%) 47% 0%;
}
.container .nav-menu .main-menu li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  display: block;
}
.container .nav-menu .main-menu .submenu li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 0px;
  padding: 15px 10px;
  background-color: white;
  border: none;
}
.container .nav-menu .main-menu li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}
.container .nav-menu .main-menu li:nth-child(-n+3) a::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -20px;
  width: 10px;
  height: 10px;
  background: url("../img/Shape.svg") no-repeat;
}
.container .nav-menu .main-menu li a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  display: inline-block;
  color: #675A54;
}
.container .nav-menu .main-menu li .submenu li {
  clear: both;
  width: 100%;
}
.container .nav-menu .main-menu li .submenu li a::after {
  display: none;
}
.container .phone {
  color: #2983D4;
}

.main__prod-section {
  z-index: 0;
  margin: 0 20px;
  position: relative;
  background: url(/img/img1.jpeg) no-repeat center;
  min-height: 535px;
  max-height: 650px;
  overflow: hidden;
  color: white;
}
.main__prod-plusi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  position: relative;
  z-index: 1;
  margin: -200px 20px;
  margin-right: 250px;
  border: 10px solid;
  padding-left: 100px;
  border-left: none;
  border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;
}
.main__prod-plusi .prod-plusi__title {
  color: #fff;
}
.main__prod-plusi .prod-plusi__description {
  color: #fff;
}
.main__prod-plusi .prod-plusi__description {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
}
.main__prod-plusi .prod-plusi__items {
  display: flex;
  justify-content: space-evenly;
}
.main__prod-plusi .prod-plusi__items__item {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.main__prod-plusi .prod-plusi__items__item .item__left {
  padding: 0 15px;
}
.main__prod-plusi .prod-plusi__items__item .item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main__our-offers {
  max-width: 1300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
.main__our-offers__items {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.main__our-offers__items__item-left {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #D1D1D1;
  border-radius: 20px;
}
.main__our-offers__items__item-left__item {
  display: inline-block;
  float: left;
}
.main__our-offers__items__item-left__item input[type=radio] {
  display: none;
}
.main__our-offers__items__item-left__item label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #675A54;
  display: inline-block;
  padding: 0px 15px;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.main__our-offers__items__item-left .item-1 input[type=radio]:checked + label {
  color: #fff;
  background: #6BBD45;
}
.main__our-offers__items__item-left .item-2 input[type=radio]:checked + label {
  color: #fff;
  background: #6BBD45;
}
.main__our-offers__items__item-right {
  display: flex;
}
.main__our-offers__items__item-right div {
  flex: 1 1 auto;
  margin: 0 5px;
  transform: translateY(5px);
}
.main__our-offers .swiper-container {
  width: 100%;
  height: 100%;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper-slide {
  font-size: 18px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper-slide .swiper__image img {
  width: 100%;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper-slide .description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper-slide .stats {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper-slide .stat-info {
  position: relative;
  border: 1px solid grey;
  border-radius: 45px;
  width: 45px;
  height: 45px;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper-slide .stat-info a img {
  position: absolute;
  top: calc(25% + 2px);
  left: calc(25%);
}
.main__our-offers .swiper-container .swiper-wrapper .swiper__description-container .stats li {
  list-style-type: none;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper__description-container .description {
  padding: 10px;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper__description-container .stats {
  padding: 15px 30px;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper__description-container .stats .stat-item li {
  padding: 3px 10px;
  line-height: 30px;
  display: inline-block;
}
.main__our-offers .swiper-container .swiper-wrapper .swiper__description__bottom {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  text-align: center;
  align-items: center;
  background: #F3EFED;
}
.main__choose-dacha {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  max-width: 1300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid;
  border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;
  min-height: 550px;
  overflow: hidden;
}
.main__choose-dacha__title-wrapper {
  padding: 0px 80px;
  color: #675A54;
}
.main__choose-dacha__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main__choose-dacha__container__price-block {
  display: flex;
  flex-direction: column;
}
.main__choose-dacha__container__price-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #675A54;
}
.main__choose-dacha__container__price-block__total {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 0px;
}
.main__choose-dacha__container__price-block__total__money1, .main__choose-dacha__container__price-block__total__money2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.main__choose-dacha__container__price-block__wrapper-slider {
  min-width: 300px;
}
.main__choose-dacha-background {
  position: relative;
  background: url(../img/content-background/choose-dacha-background.svg) no-repeat;
  min-height: 438px;
  margin-top: -500px;
  margin-bottom: 0px;
  z-index: 0;
}
.main .main__about-company__wrapper__side-items__item,
.main .main__about-company__wrapper__main-items__item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 183px;
  padding: 30px;
  overflow: hidden;
}
.main__about-company {
  max-width: 1300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
.main__about-company__title {
  padding: 50px 0px;
  color: #675A54;
}
.main__about-company__wrapper {
  display: flex;
  width: 100%;
}
.main__about-company__wrapper__main-items {
  width: 45%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.main__about-company__wrapper__main-items__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #D1D1D1;
}
.main__about-company__wrapper__side-items {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__about-company__wrapper__side-items__items-column {
  display: flex;
}
.main__about-company__wrapper__side-items__item {
  border: 1px solid #D1D1D1;
}
.main__about-company__wrapper__side-items__item-50 {
  min-height: 260px;
}
.main__about-company__wrapper__side-items__item-50-left {
  color: #fff;
  background-color: #2983D4;
}
.main__about-company__wrapper__side-items__item-50-right {
  background-color: #F3EFED;
}
.main__about-company__wrapper__side-items__item-50-right span {
  color: #7EC95C;
}
.main__about-company__wrapper__side-items__item-green {
  background-color: #7EC95C;
  color: #fff;
}
.main__buy-uchastok {
  max-width: 1300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
.main__buy-uchastok__title {
  padding: 20px 0;
  color: #675A54;
}
.main__buy-uchastok__wrapper {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #D1D1D1;
  border-radius: 20px;
}
.main__buy-uchastok__wrapper__item {
  display: inline-block;
  float: left;
}
.main__buy-uchastok__wrapper__item input[type=radio] {
  display: none;
}
.main__buy-uchastok__wrapper__item label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #675A54;
  display: inline-block;
  padding: 0px 15px;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.main__buy-uchastok__wrapper__item input[type=radio]:checked + label {
  color: #fff;
  background: #6BBD45;
}
.main__buy-uchastok__4-shaga-items {
  padding-top: 50px;
  padding-bottom: 0px;
  display: flex;
}
.main__buy-uchastok__4-shaga-items__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 20px;
}
.main__buy-uchastok__4-shaga-items__wrapper__item-1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/content/buy-uchastok/numbers/number1.svg") no-repeat;
}
.main__buy-uchastok__4-shaga-items__wrapper__item-1::after, .main__buy-uchastok__4-shaga-items__wrapper__item-2::after, .main__buy-uchastok__4-shaga-items__wrapper__item-3::after {
  content: "";
  position: absolute;
  background: #d1d1d1;
  top: 50%;
  left: 150px;
  width: 180px;
  height: 1px;
}
.main__buy-uchastok__4-shaga-items__wrapper__item-2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/content/buy-uchastok/numbers/number2.svg") no-repeat;
}
.main__buy-uchastok__4-shaga-items__wrapper__item-3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/content/buy-uchastok/numbers/number-3.svg") no-repeat;
}
.main__buy-uchastok__4-shaga-items__wrapper__item-4::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/content/buy-uchastok/numbers/number-4.svg") no-repeat;
}
.main__buy-uchastok__4-shaga-items__wrapper__item {
  display: flex;
  border: 1px solid #D1D1D1;
  border-radius: 50%;
  width: 114px;
  height: 114px;
}
.main__buy-uchastok__4-shaga-items__wrapper__item img {
  margin: auto;
  width: 48px;
  height: 54px;
}
.main__subscribe-to-watch {
  position: relative;
  z-index: 1;
  max-width: 1300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid;
  border-image: linear-gradient(to bottom, #2983d4 49%, #7ec95c 51%) 47% 10%;
  min-height: 550px;
  overflow: hidden;
}
.main__subscribe-to-watch__container {
  padding: 50px;
}
.main__subscribe-to-watch__container__title-wrapper {
  display: flex;
  padding: 40px 0px;
}
.main__subscribe-to-watch__container__title-wrapper__title {
  color: #675A54;
  flex-basis: 25%;
}
.main__subscribe-to-watch__container__title-wrapper__other-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
  flex-basis: 75%;
}
.main__subscribe-to-watch__container__form-wrapper__form input[type=text],
.main__subscribe-to-watch__container__form-wrapper input[type=tel] {
  margin-right: 35px;
  padding: 10px;
  width: 355px;
  height: 50px;
}
.main__subscribe-to-watch__container__form-wrapper__form input[type=submit] {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #6BBD45;
  width: 216px;
  height: 50px;
  color: #ffffff;
}
.main__subscribe-to-watch__container__form-wrapper__form label {
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #675A54;
}
.main__subscribe-to-watch__container__form-wrapper__form__obrabotka {
  padding: 40px 0px;
}
.main__subscribe-to-watch-background {
  z-index: 0;
  background: url(../img/content-background/choose-dacha-background.svg) no-repeat;
  min-height: 438px;
  margin-top: -500px;
  margin-bottom: 0px;
}
.main__zemlya-u-nas {
  max-width: 1300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
.main__zemlya-u-nas__title {
  padding: 50px 0px;
  color: #675A54;
}
.main__zemlya-u-nas__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  overflow: hidden;
}
.main__zemlya-u-nas__wrapper__items-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.main__zemlya-u-nas__wrapper__items-1__item {
  max-width: 288px;
  max-height: 240px;
  background-color: slategray;
}
.main__zemlya-u-nas__wrapper__items-2 {
  display: flex;
  min-height: 450px;
}
.main__zemlya-u-nas__wrapper__items-2__main-item {
  max-width: 593px;
  max-height: 443px;
  overflow: hidden;
  border: 1px solid #D1D1D1;
}
.main__zemlya-u-nas__wrapper__items-2__main-item__slider__wrapper__slide__item-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 443px;
}
.main__zemlya-u-nas__wrapper__items-2__main-item__slider__wrapper__slide__item-row__item-column {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.main__zemlya-u-nas__wrapper__items-2__main-item__slider__wrapper__slide__item-row__item-column__item {
  display: flex;
}
.main__zemlya-u-nas__wrapper__items-2__main-item__slider__wrapper__slide__item-row__item-column__item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main__zemlya-u-nas__wrapper__items-2__side-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__zemlya-u-nas__wrapper__items-2__side-item__item {
  margin-left: 15px;
  max-width: 591px;
  height: 214px;
}