// Desktop

$mainFont:'Montserrat', sans-serif;
// Цвета
$greenDark: #6BBD45;
$greenLight: #7EC95C;
$blueDark: #2983D4;
$obvodka: #D1D1D1;
$backgorund1: #F3EFED;
$zemlya: #675A54;
$graviy: #392424;
/* Цвет шрифта, который должен быть не сильно заметен */
$colorShrift: #B5AEAB;
/* Button */